*{
    margin: 0;
}
body{
    background-color: white;
    font-family: "Cera Pro", sans-serif;
    box-sizing: content-box;
}

@keyframes rgb{
    0% {background-position: 0% 50%;}
    25% {background-position: 100% 50%;}
    50% {background-position: 0% 50%;}
    75% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
.rgbCrimson{
    background: linear-gradient(45deg,
    #a57c92 0%,
    crimson 100%)
    repeat 0% 0% / 300% 100%;
    animation: rgb 12s linear infinite;
}
.rgbButtercup{
    background: linear-gradient(45deg,
    #e7a53b 0%,
    #DD9827 100%)
    repeat 0% 0% / 300% 100%;
    animation: rgb 10s linear infinite;
}
.rgbMelanzane{
    background: linear-gradient(45deg,
    rgb(0, 0, 0) 0%,
    #2A2327 100%)
    repeat 0% 0% / 300% 100%;
    animation: rgb 8s linear infinite;
}
.rgbPurple{
    background: linear-gradient(45deg,
    rgb(212, 72, 212) 0%,
    Purple 100%)
    repeat 0% 0% / 300% 100%;
    animation: rgb 10s linear infinite;
}
.rgbCust{
    background: linear-gradient(45deg,
    #eeaeca 0%,
    #e9df94 10%,
    #c8e994 20%,
    #94e99e 30%,
    #94e9d1 40%,
    #94afe9 50%,
    #ac94e9 60%,
    #e894e9 70%,
    #e994b7 80%,
    #e9949a 90%,
    #e9949a 100%)
    repeat 0% 0% / 300% 100%;
    animation: rgb 10s linear infinite;
}

.LMcontainer{
    width: 83%;
    margin: auto;
}
.btnLM{
    width: 4.5%;
    font-family: "Cera Pro", sans-serif;
    font-weight: 530;
}
#btnLM-2:hover{
color: white !important;
background-color: black;
border: none;
}



#signup{
    color: black;
    text-decoration: none;
}
#signup:hover{
    text-decoration: underline 2px rgb(19, 26, 26);
}
#mt-half{
    margin-top: 12%;
}

/** Water Button */

.btn-water {
    position: relative;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 50% 50% 50% 50% / 100% 0% 100% 0% ;
    border: none;
    margin-bottom: 1rem;
   }

   .btn-water span {
    position: relative;
    color: #fff;
    font-family: Footlight MT;
    letter-spacing: 3px;
    z-index: 1;
   }

   .btn-water .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 200px;
    background: crimson;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
   }

   .btn-water .liquid::after,
   .btn-water .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #fff;
   }

   .btn-water .liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
   }

   .btn-water .liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
   }

   .btn-water:hover .liquid {
    top: -120px;
   }

   @keyframes animate {
    0% {
     transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
     transform: translate(-50%, -75%) rotate(360deg);
    }
   }

/** btn-Crush */
/* From cssbuttons.io by @satyamchaudharydev */
.btn-Crush {
    border: none;
    width: 140px;
    height: 50px;
    color: #fff;
    z-index: 1;
    display: flex;
    background: linear-gradient(45deg,
    #2A2327 0%,
    crimson 100%)
    repeat 0% 0% / 300% 100%;
    animation: rgb 10s linear infinite;
    position: relative;
    border-radius: 1px ;
   }

   .btn-Crush p {
    margin: 0 auto;
    align-self: center;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
   }

   .btn-Crush::after {
    position: absolute;
    content: "";
    width: 100%;
    z-index: -1;
    height: 10%;
    bottom: 0;
    clip-path: polygon(0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%, 20% 78%, 25% 77%, 32% 77%, 37% 75%, 40% 74%, 43% 74%, 46% 73%, 52% 72%, 57% 72%, 65% 74%, 66% 75%, 71% 78%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
    background: teal;
    transition: 0.2s ease;
   }

   .btn-Crush::before {
    position: absolute;
    content: "";
   /*   bottom: 80%; */
    transform: rotate(180deg);
    width: 100%;
    height: 10%;
    transition: 0.2s ease;
   /*   bottom:; */
    z-index: -1;
    clip-path: polygon(0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%, 20% 78%, 25% 77%, 32% 77%, 37% 75%, 40% 74%, 43% 74%, 46% 73%, 52% 72%, 57% 72%, 65% 74%, 66% 75%, 71% 78%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
    background: darkcyan;
   }

   .btn-Crush:hover::after {
    clip-path: polygon(0 30%, 9% 34%, 7% 39%, 11% 43%, 13% 33%, 17% 30%, 24% 34%, 25% 35%, 30% 31%, 30% 38%, 39% 33%, 35% 43%, 43% 45%, 55% 46%, 65% 74%, 67% 66%, 81% 57%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
    height: 80%;
   }

   .btn-Crush:hover::before {
    clip-path: polygon(0 30%, 9% 34%, 7% 39%, 11% 43%, 13% 33%, 17% 30%, 24% 34%, 25% 35%, 30% 31%, 30% 38%, 39% 33%, 35% 43%, 43% 45%, 55% 46%, 65% 74%, 67% 66%, 81% 57%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
    height: 80%;
   }



/*? btn-Layers */
.btn-Layers {
    margin-top:3rem;
    transform: rotate(-25deg) skew(25deg);
    transform-style: preserve-3d;
    position: relative;
    list-style: none;
    width: 7rem;
    height: 32px;
    border: none;
    background: transparent;
    font-family: Broadway;
   }

   .btn-Layers:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -5px;
    width: 100%;
    height: 10px;
    background: linear-gradient(45deg,
    #AD0000 0%,
    rgb(236, 229, 238) 100%)
    repeat 0% 0% / 300% 100%;
    animation: rgb 10s linear infinite;
    transform: skewX(-41deg);
   }

   .btn-Layers:after {
    content: '';
    position: absolute;
    top: 5px;
    left: -9px;
    width: 9px;
    height: 100%;
    background: linear-gradient(45deg,
    rgb(219, 192, 226) 0%,
    teal 100%)
    repeat 0% 0% / 300% 100%;
    animation: rgb 10s linear infinite;
    transform: skewY(-49deg);
   }

   .btn-Layers span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,
    dodgerblue 0%,
    crimson 100%)
    repeat 0% 0% / 300% 100%;
    animation: rgb 10s linear infinite;
    color: #fff;
    font-size: 1rem;
    transition: 1.1s ease-out;
   }

   .btn-Layers:hover span {
    z-index: 1000;
    transition: .3s;
    color:wheat;
   }

   .btn-Layers:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
   }

   .btn-Layers:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: .8;
   }

   .btn-Layers:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: .6;
   }

   .btn-Layers:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: .4;
   }

   .btn-Layers:hover span:nth-child(1) {
    transform: translate(0px, 0px);
    opacity: .2;
   }

   .btn-Layers:active span:nth-child(5) {
    transform: translate(20px, -20px);
    opacity: 1;
   }

   .btn-Layers:active span:nth-child(4) {
    transform: translate(15px, -15px);
   }

   .btn-Layers:active span:nth-child(3) {
    transform: translate(10px, -10px);
   }

   .btn-Layers:active span:nth-child(2) {
    transform: translate(5px, -5px);
   }

   .btn-Layers:active span:nth-child(1) {
    transform: translate(0px, 0px);
   }

   .btn-Layers:nth-child(1):hover span {
    background: #52E19F;
   }


/*? btn-360deg */
.btn-360deg {
    padding: 0.9em 1.8em;
    width: 8rem;
    height: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: transparent;
    border: 3px solid black;
    border-radius: 18% 82% 14% 86% / 95% 5% 95% 5% ;
    font-size: 14px;
    position: relative;
    font-family: inherit;
    background: transparent;
   }

   .btn-360deg::before {
    content: "Sign UP";
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    background: linear-gradient(45deg,
    #dba6c4 0%,
    crimson 100%)
    repeat 0% 0% / 300% 100%;
    animation: rgb 10s linear infinite;
    color: #2A2327;
    display: flex;
    justify-content: center;
    font-family: Courier New;
    font-weight: bold;
    font-size: 1.2rem;
    align-items: center;
    transition: all 0.5s;
    border-radius: 95% 5% 95% 5% / 15% 85% 15% 85% ;
   }

   .btn-360deg:hover::before {
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
   }

   .btn-360deg::after {
    content: "Sign UP";
    position: absolute;
    top: 0;
    left: -100%;
    width: 95%;
    height: 95%;
    background: linear-gradient(45deg,
    #dba6c4 0%,
    crimson 100%)
    repeat 0% 0% / 300% 100%;
    animation: rgb 10s linear infinite;
    color: #2A2327;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Courier New;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.5s;
    transform: scale(0) rotateY(0deg);
    opacity: 0;
    border-radius: 95% 5% 95% 5% / 15% 85% 15% 85% ;
   }

   .btn-360deg:hover::after {
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity: 1;
   }